.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 576px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;

  @media screen and (max-width: 576px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
    gap: 10px;
    font-size: 12px;
  }
}

.logout {
  padding: 5px;
  border-radius: 3px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
}
